doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title responsive css sprite demo
    link(rel="stylesheet" href="/css/main.css")
  body
    h4 元画像
    img(src="/assets/sprite.png")
    h4 スプライト
    div.button1 ボタン1
    div.button2 ボタン2
    div.button3 ボタン3
